* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edb5bf;
  color: #78244c
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.head {
  width: 100%;
  height: 15%;
  font-family: Comic Sans MS;
  font-weight: bold;
  z-index: 20;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  width: 100%;
  height: 85%;
  overflow: scroll;
}

.main {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.websiteLink {
  text-align: center;
  padding-bottom: 30px;
}

.sectionTitle {
  font-size: 2.5em;
  font-family: Comic Sans MS;
}

.section {
  font-size: 1.5em;
  font-family: Comic Sans MS;
  padding-bottom: 50px;
}

.projectsTitle {
  font-size: 4em;
}

.websitePic {
  padding-bottom: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}